body {text-align: center;}
body {background-color: 	rgb(230,230,250);}
  h1{
    font-family: 'Merienda', cursive;
    font-size: 30pt;
    }
  p{
    font-family: 'Sunflower', sans-serif;
    font-size: 12pt;
    }
  h3{
    font-family: 'PT Sans', sans-serif;
    font-size: 20pt;
    }

h4{
    font-family: 'PT Sans', sans-serif;
    font-size: 12pt;
    }
