body {text-align: center;}
body {background-color: 	rgb(230,230,250);}
  h1{
    font-family: 'Merienda', cursive;
    font-size: 30pt;
    }
  p{
    font-family: 'Indie Flower', cursive;
    font-size: 12pt;
    }
  h3, h4{
    font-family: 'PT Sans', sans-serif;
    font-size: 20pt;
    }

    #top, #bottom, #left, #right {
    	background: rgb(25,25,112);
    	position: fixed;
    	}
    	#left, #right {
    		top: 0; bottom: 0;
    		width: 15px;
    		}
    		#left { left: 0; }
    		#right { right: 0; }

    	#top, #bottom {
    		left: 0; right: 0;
    		height: 15px;
    		}
    		#top { top: 0; }
    		#bottom { bottom: 0; }
